<!-- Forgot Password Component-->
<body>

  <!-- Forgot Password form  -->
  <form class="form-forgot-password shadow p-3 mb-5 bg-white rounded">

    <!--  Icon -->
    <img class="mb-4" src="assets/Untitled-1.png" alt="" width="72" height="72">

    <!-- Top Label -->
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

    <!-- User Instruction-->
    <p class="text-center">Please enter your email address to request a password reset.</p>

    <!-- Email Address for Password Reset  -->
    <label for="passwordResetEmail" class="sr-only">Email Address</label>
    <input type="email" id="passwordResetEmail" class="form-control" placeholder="Email" #passwordResetEmail required autofocus>

    <!-- Password Reset Button  -->
    <button type="button" class="btn btn-lg btn-primary btn-block shadow-none" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>

    <!-- "or"  -->
    <div class = "form-group">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Horizontal Line -->
    <hr>

    <!-- Go Back To Sign In? Route -->
    <div class="redirectToLogin">
      <span>Go back to Sign In? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </form>

  <!-- Bottom Navbar Component -->
  <app-navbar-bottom></app-navbar-bottom>

</body>
