<!-- Forgot Password Component-->
<body>

  <!-- Forgot Password form  -->
  <form class="form-forgot-password shadow p-3 bg-white rounded" [formGroup]="resetPasswordForm">

    <!-- Logo -->
    <img class="mb-4" src="assets/Untitled-1.png" alt="" width="72" height="72">

    <!-- Top Label -->
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

    <!-- User Instruction-->
    <p class="text-center">Please enter your email address to request a password reset.</p>

    <!-- Email Address for Password Reset  -->
    <div class="input-group mb-3">

      <!-- Email Icon-->
      <span class="input-group-text" id="emailIcon"><img src="assets/envelope-fill.svg"></span>

      <!-- Email Input -->
      <input type="email" class="form-control" placeholder="Email Address" formControlName="email"

             [ngClass]="
            (resetPasswordForm.get('email').touched ||
              resetPasswordForm.get('email').dirty) &&
            resetPasswordForm.get('email').hasError('required')
              ? 'is-invalid'
              : ''

              ||

              resetPasswordForm.get('email').hasError('pattern')
              ? 'is-invalid'
              : ''

              ||

                ((resetPasswordForm.get('email').touched ||
                  resetPasswordForm.get('email').dirty) &&
                  !resetPasswordForm.get('email').invalid)
              ? 'is-valid'
              : ''
          "
             autofocus>

      <!-- Invalid Feedback Goes Here -->
      <div class="invalid-feedback">

        {{ resetPasswordForm.get("email").hasError("required") ? " Email is required" : "" }}
        {{ resetPasswordForm.get("email").hasError("pattern") ? " Email doesn't look right.." : "" }}

      </div>

      <!-- Valid Feedback Goes Here -->
      <div class = "valid-feedback">
        Looks good!
      </div>

    </div>

    <!-- Password Reset Button  -->
    <button type="button" class="btn btn-lg btn-primary w-100" [disabled]="resetPasswordForm.invalid" (click)="authService.resetPassword(resetPasswordForm.value); resetPasswordForm.reset()">Reset Password</button>

    <!-- "or"  -->
    <div class = "form-group border-bottom" *ngIf="!(authService.afAuth.authState | async)">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Go Back To Sign In? Route -->
    <div class="redirectToLogin mt-3 mb-3" *ngIf="!(authService.afAuth.authState | async)">
      <span>Go back? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </form>

</body>
