<!-- Forgot Password Component-->
<body>

  <!-- Forgot Password form  -->
  <form class="form-forgot-password shadow p-3 mb-5 bg-white rounded">

    <!--  Icon -->
    <img class="mb-4" src="assets/Untitled-1.png" alt="" width="72" height="72">

    <!-- Top Label -->
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

    <!-- User Instruction-->
    <p class="text-center">Please enter your email address to request a password reset.</p>

    <!-- Email Address for Password Reset  -->
    <div class="input-group mb-3">

      <!-- ICON -->
      <span class="input-group-text" id="emailIcon"><img src="assets/envelope-fill.svg"></span>

      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" #userEmail required autofocus>

    </div>

    <!-- Password Reset Button  -->
    <button type="button" class="btn btn-lg btn-primary w-100" (click)="authService.ForgotPassword(userEmail.value)">Reset Password</button>

    <!-- "or"  -->
    <div class = "form-group border-bottom">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Go Back To Sign In? Route -->
    <div class="redirectToLogin mt-3 mb-3">
      <span>Go back to Sign In? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </form>

</body>
