<!-- Dashboard Component -->
<body>

  <!-- Container for Sidebar and Main Content  -->
  <div class="container-fluid">

    <!-- Side Bar  -->
    <div class="row">

      <!-- Side Bar -->
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">

        <!-- Side Bar -->
        <div class="sidebar-sticky">

          <!-- DashBoard Selection Side Bar -->
          <ul class="nav flex-column border-bottom" >
            <li class="nav-item">
              <a class="nav-link active" routerLink="/dashboard">
                <span data-feather="home"></span>
                DashBoard <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>

          <!-- DashBoard Side Bar Test Header -->
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Test Header</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>

          <!-- DashBoard Side Bar Map-Test Item -->
          <ul class="nav flex-column mb-2" routerLink="/provider-map">
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="file-text"></span>
                Provider Map Test
              </a>
            </li>
          </ul>

          <!-- DashBoard Side Bar Message Board Test Item -->
          <ul class="nav flex-column mb-2" routerLink="/message-board">
            <li class="nav-item">
              <a class="nav-link">
                <span data-feather="file-text"></span>
                Message Board Test
              </a>
            </li>
          </ul>

        </div>

      </nav>

    </div>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="inner-adjust">

        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">

          <div class="col-md-12">

            <div class="media">

              <!-- Profile Photo -->
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                   alt="{{user.displayName}}">

              <!-- User Info -->
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>

            </div>

          </div>

        </div>

        <!-- Update Display Name Form -->
        <form class="form-Update-Display-Name">

          <!-- Top Label -->
          <h1 class="h3 mb-3 font-weight-normal">Update Display Name</h1>

          <!-- User Instruction-->
          <p class="text-center">Please enter a new display name!</p>

          <!-- Display Name  -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">

               <!-- Bootstrap Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                </svg>

              </span>
            </div>

            <!-- New Display Name  -->
            <input type="displayName" id="changeDisplayName" class="form-control" placeholder="Display Name" #displayName required>

          </div>

          <!-- Change Display Name Button  -->
          <button type="button" class="btn btn-lg btn-primary btn-block shadow-none" (click)="authService.updateDisplayName(displayName.value)">Change Display Name</button>

        </form>

      </div>

    </main>

  </div>

</body>
