<!-- Dashboard Component-->
<body>

<!-- Container -->
<div class="container-fluid mt-5">

  <!-- Row -->
  <div class="row">

    <!-- Side Bar-->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">

          <!-- Options Header -->
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Options</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>

          <!-- Dashboard Link -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard" routerLinkActive="active">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>

          <!-- Provider Map Link -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/provider-map" routerLinkActive="active">
              <span data-feather="layers"></span>
              Provider Map
            </a>
          </li>

          <!-- Message Board Link -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/message-board" routerLinkActive="active">
              <span data-feather="layers"></span>
              Message Board
            </a>
          </li>

        </ul>

        <!-- My Info Header -->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>My Info</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>

        <!-- Update My Information Link -->
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="dashboard">
              <span data-feather="file-text"></span>
              Update My Information
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <!-- Dashboard Header -->
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>

      <!-- Show user data when logged in -->
      <div class="row" *ngIf="authService.user$ | async as user">

        <div class="col-md-12">

          <div class="media">

            <!-- Profile Photo -->
            <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                 alt="{{user.displayName}}">

            <!-- User Info -->
            <div class="media-body">
              <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p>User ID: <strong>{{user.userID}}</strong></p>
              <p>Email: <strong>{{user.email}}</strong></p>
              <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
            </div>

          </div>

        </div>

      </div>

      <!-- Update Display Name Form -->
      <form class="form-Update-Display-Name">

        <!-- Top Label -->
        <h1 class="h3 mb-3 font-weight-normal">Update Display Name</h1>

        <!-- User Instruction-->
        <p class="text-center">Please enter a new display name!</p>

        <!-- Display Name  -->
        <div class="input-group mb-3">

          <!-- New Display Name  -->
          <input type="displayName" id="changeDisplayName" class="form-control" placeholder="Display Name" #displayName required>

        </div>

        <!-- Change Display Name Button  -->
        <button type="button" class="btn btn-lg btn-primary btn-block shadow-none w-100" (click)="authService.updateDisplayName(displayName.value)">Change Display Name</button>

      </form>

    </main>

  </div>

</div>

</body>
