<!-- BootStrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

  <div class="container-fluid">

    <!-- .navbar-brand for your company, product, or project name. -->
    <a class="navbar-brand" href="#">    Providers.Fyi</a>

    <!--  .navbar-nav for a full-height and lightweight navigation (including support for dropdowns).  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" aria-current="page" href="home">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Navigation
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <!-- Only Shows if not signed in -->
            <!-- sign-in -->
            <li><a class="dropdown-item" routerLink="/sign-in" *ngIf="!authService.getUserData() as user">Sign In</a></li>
            <!-- sign-up -->
            <li><a class="dropdown-item" routerLink="/sign-up" *ngIf="!authService.getUserData() as user">Sign Up</a></li>

            <!-- Only Shows if signed in -->
            <!-- Dashboard -->
            <li><a class="dropdown-item" routerLink="/dashboard" *ngIf="authService.getUserData() as user">Dashboard</a></li>

            <!-- Only Shows if signed in -->
            <!-- Dropdown Divider -->
            <li><hr class="dropdown-divider" *ngIf="authService.getUserData() as user"></li>

            <!-- sign-out -->
            <li><a class="dropdown-item"routerLink="/home" *ngIf="authService.getUserData() as user" (click)="authService.logout()">Sign Out</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
