<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <div class="container-fluid">

    <a class="navbar-brand" href="home">
      Providers.Fyi
    </a>

    <!-- Collapse Menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav me-auto mb-2 mb-md-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" aria-current="page" href="home">Home</a>
        </li>

        <!-- Only Shows if not signed in -->
        <li class="nav-item">
          <!-- sign-up -->
          <a class="nav-link" routerLink="/sign-up" routerLinkActive="active" *ngIf="!authService.userData as user" href="sign-up">Sign Up</a>
        </li>
        <li class="nav-item">
          <!-- sign-in -->
          <a class="nav-item nav-link" routerLink="/sign-in" routerLinkActive="active" *ngIf="!authService.userData as user" href="sign-in">Sign In</a>
        </li>

        <!-- Only Shows if signed in -->
        <li class="nav-item">
          <!-- Dashboard -->
          <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active" *ngIf="authService.userData as user" href="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <!-- sign-out -->
          <a class="nav-link" routerLink="/home" *ngIf="authService.userData as user" (click)="authService.SignOut()">Sign out</a>
        </li>

      </ul>

      <!-- Search From -->
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>

    </div>

  </div>

</nav>


