.navbar-brand{
  color: #f4f4f4;
}

/* Navbar Link Colors */
.navbar-light .navbar-nav .nav-link {
  color: #f4f4f4;
}

.navbar-brand{
  color: white;
  transition: color 230ms ease-in-out;
}

/* App Name Hover */
.navbar-brand:hover{
  color: #0071BC;
}

a{
  transition: color 230ms ease-in-out;
}

a:hover{
  color: #0071BC !important;
}
