<!-- Sign Up Form Component-->
<body>

  <!-- Create Account form  -->
  <form class="form-sign-up shadow p-3 bg-white rounded" [formGroup]="createAccountForm">

    <!--  Icon -->
    <img class="mb-4" src="assets/Untitled-1.png" alt="" width="72" height="72">

    <!-- Top Label -->
    <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>

    <!-- Display Name  -->
    <div class="input-group mb-3">

      <!-- Display Name Icon -->
      <span class="input-group-text" id="displayNameIcon"><img src="assets/person-square.svg"></span>

      <!-- Display Name Input -->
      <input type="displayName" id="inputDisplayName" class="form-control" placeholder="Display Name" formControlName="displayName"

             [ngClass]="(createAccountForm.get('displayName').touched ||
             createAccountForm.get('displayName').dirty) &&
             createAccountForm.get('displayName').errors ? 'is-invalid' : ''

             ||

             ((createAccountForm.get('displayName').touched ||
               createAccountForm.get('displayName').dirty) &&
               !createAccountForm.get('displayName').invalid)
              ? 'is-valid'
              : '' "

      autofocus>

      <!-- Invalid FeedBack Goes Here -->
      <div class="invalid-feedback">

        {{ createAccountForm.get("displayName").hasError("required") ? " Display name is required" : "" }}

      </div>

      <!-- Valid Feedback Goes Here -->
      <div class = "valid-feedback">
        Looks good!
      </div>

    </div>

    <!-- Email  -->
    <div class="input-group mb-3">

      <!-- Email Icon -->
      <span class="input-group-text" id="emailIcon"><img src="assets/envelope-fill.svg"></span>

      <!-- Email Input -->
      <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" formControlName="email"

             [ngClass]="
            (createAccountForm.get('email').touched ||
              createAccountForm.get('email').dirty) &&
            createAccountForm.get('email').hasError('required')
              ? 'is-invalid'
              : ''

              ||

              createAccountForm.get('email').hasError('pattern')
              ? 'is-invalid'
              : ''

              ||

                ((createAccountForm.get('email').touched ||
                  createAccountForm.get('email').dirty) &&
                  !createAccountForm.get('email').invalid)
              ? 'is-valid'
              : '' "
      >

      <!-- Invalid FeedBack Goes Here -->
      <div class="invalid-feedback">

        {{ createAccountForm.get("email").hasError("required") ? " Email is required" : "" }}
        {{ createAccountForm.get("email").hasError("pattern") ? " Email doesn't look right.." : "" }}

      </div>

      <!-- Valid Feedback Goes Here -->
      <div class = "valid-feedback">
        Looks good!
      </div>

    </div>

    <!-- Password  -->
    <div class="input-group mb-3">

      <!-- Password Icon -->
      <span class="input-group-text" id="passwordIcon"><img src="assets/key-fill.svg"></span>

      <!-- Password Input -->
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"

             [ngClass]="
            (createAccountForm.get('password').touched ||
              createAccountForm.get('password').dirty) &&
            createAccountForm.get('password').hasError('required')
              ? 'is-invalid'
              : '' ||

              createAccountForm.get('password').hasError('minlength')
              ? 'is-invalid'
              : '' ||

                ((createAccountForm.get('password').touched ||
                  createAccountForm.get('password').dirty) &&
                  !createAccountForm.get('password').invalid)
              ? 'is-valid'
              : '' "

      >

      <!-- Invalid FeedBack Goes Here -->
      <div class="invalid-feedback">

        {{ createAccountForm.get("password").hasError("required") ? " Password is required" : "" }}

        {{ createAccountForm.get("password").hasError("minlength") ? " Please enter a password of at least 8 characters.." : "" }}

      </div>

      <!-- Valid Feedback Goes Here -->
      <div class = "valid-feedback">
        Looks good!
      </div>

    </div>

    <!-- Create Account Button  -->
    <button type="submit" class="btn btn-lg btn-primary btn-block w-100" [disabled]="createAccountForm.invalid" (click)="authService.createUser(createAccountForm.value)">Create Account</button>

    <!-- "or"  -->
    <div class = "form-group border-bottom">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Already have an Account? Route -->
    <div class="redirectToLogin mt-3 mb-3">
      <span>Already have an account? <span class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </form>

</body>
