<!-- Sign In Form Component-->
<body>

  <!-- Sign In form  -->
  <form class="form-sign-in shadow p-3 bg-white rounded" [formGroup]="loginForm">

    <!--  Icon -->
    <img class="mb-4" src="assets/Untitled-1.png" alt="" width="72" height="72">

    <!-- Top Label -->
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

    <!-- Email  -->
    <div class="input-group mb-3">

      <!-- ICON -->
      <span class="input-group-text" id="emailIcon"><img src="assets/envelope-fill.svg"></span>

      <input type="email" class="form-control" placeholder="Email" formControlName="email"

             [ngClass]="
            (loginForm.get('email').touched ||
              loginForm.get('email').dirty) &&
            loginForm.get('email').hasError('required')
              ? 'is-invalid'
              : '' ||

              loginForm.get('email').hasError('pattern')
              ? 'is-invalid'
              : '' ||

                ((loginForm.get('email').touched ||
                  loginForm.get('email').dirty) &&
                  !loginForm.get('email').invalid)
              ? 'is-valid'
              : ''
          "
      >

      <div class="invalid-feedback">

        {{ loginForm.get("email").hasError("required") ? " Email is required" : "" }}
        {{ loginForm.get("email").hasError("pattern") ? " Email doesn't look right.." : "" }}

      </div>

      <div class = "valid-feedback">
      </div>

    </div>

    <!-- Password  -->
    <div class="input-group mb-3">

      <!-- ICON -->
      <span class="input-group-text" id="passwordIcon"><img src="assets/key-fill.svg"></span>

      <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"

             [ngClass]="(loginForm.get('password').touched ||
             loginForm.get('password').dirty) &&
             loginForm.get('password').errors ? 'is-invalid' : '' ||

             ((loginForm.get('password').touched ||
               loginForm.get('password').dirty) &&
               !loginForm.get('password').invalid)
              ? 'is-valid'
              : ''

      ">

      <div class="invalid-feedback">

        {{ loginForm.get("password").hasError("required") ? " Please enter a password" : "" }}

      </div>

      <div class = "valid-feedback">
      </div>

    </div>

    <!-- Sign In Button  -->
    <button type="submit" class="btn btn-lg btn-primary w-100" (click)="authService.login(loginForm.value.email, loginForm.value.password)">Sign In</button>

    <!-- "or"  -->
    <div class = "form-group border-bottom">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Forgot Password Route -->
    <div class="forgotPassword mt-3 mb-3">
      <span routerLink="/forgot-password">Forgot Password?</span>
    </div>

    <!-- Don't have an account? Route -->
    <div class="redirectToSignUp">
      <span>Don't have an account?<span class="redirect" routerLink="/sign-up"> Sign Up</span></span>
    </div>

  </form>

</body>
