<!-- Sign In Form Component-->
<body>

  <!-- Log In form  -->
  <form class="form-sign-in shadow p-3 bg-white rounded" [formGroup]="loginForm">

    <!-- Logo -->
    <img class="mb-4" src="assets/Untitled-1.png" alt="" width="72" height="72">

    <!-- Top Label -->
    <h1 class="h3 mb-3 font-weight-normal">Log In</h1>

    <!-- Email  -->
    <div class="input-group mb-3">

      <!-- Email Icon -->
      <span class="input-group-text" id="emailIcon"><img src="assets/envelope-fill.svg"></span>

      <!-- Email Input -->
      <input type="email" class="form-control" placeholder="Email Address" formControlName="email"

             [ngClass]="
            (loginForm.get('email').touched ||
              loginForm.get('email').dirty) &&
            loginForm.get('email').hasError('required')
              ? 'is-invalid'
              : ''

              ||

              loginForm.get('email').hasError('pattern')
              ? 'is-invalid'
              : ''

              ||

                ((loginForm.get('email').touched ||
                  loginForm.get('email').dirty) &&
                  !loginForm.get('email').invalid)
              ? 'is-valid'
              : ''
          "
      autofocus>

      <!-- Invalid Feedback Goes Here -->
      <div class="invalid-feedback">

        {{ loginForm.get("email").hasError("required") ? " Email is required" : "" }}
        {{ loginForm.get("email").hasError("pattern") ? " Email doesn't look right.." : "" }}

      </div>

      <!-- Valid Feedback Goes Here -->
      <div class = "valid-feedback">
      </div>

    </div>

    <!-- Password  -->
    <div class="input-group mb-3">

      <!-- Password Icon -->
      <span class="input-group-text" id="passwordIcon"><img src="assets/key-fill.svg"></span>

      <!-- Password Input -->
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"

             [ngClass]="(loginForm.get('password').touched ||
             loginForm.get('password').dirty) &&
             loginForm.get('password').errors ? 'is-invalid' : ''

             ||

             ((loginForm.get('password').touched ||
               loginForm.get('password').dirty) &&
               !loginForm.get('password').invalid)
              ? 'is-valid'
              : ''

      ">

      <!-- Invalid Feedback Goes Here -->
      <div class="invalid-feedback">

        {{ loginForm.get("password").hasError("required") ? " Please enter a password" : "" }}

      </div>

      <!-- Valid Feedback Goes Here -->
      <div class = "valid-feedback">
      </div>

    </div>

    <!-- Login Button  -->
    <button type="button" class="btn btn-lg btn-primary w-100" [disabled]="loginForm.invalid" (click)="authService.logIn(loginForm.value)">Log In</button>

    <!-- "or"  -->
    <div class = "form-group border-bottom">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Forgot Password Route -->
    <div class="forgotPassword mt-3 mb-3">
      <span routerLink="/forgot-password">Forgot Password?</span>
    </div>

    <!-- Don't have an account? Route -->
    <div class="redirectToSignUp">
      <span>Don't have an account? <span class="redirect" routerLink="/sign-up">Create Account</span></span>
    </div>

  </form>

</body>
