<!-- Verify Email Component-->
<body>

  <!-- Verify Email -->
  <div class="verify-email">

    <!-- Thank you Header -->
    <h2>Thank you for registering for Providers.fyi!</h2>

    <!-- Auth Message -->
    <div class="formGroup" *ngIf="authService.userData as user">
      <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
      <p class="text-center">Please check your email and click on the link to verify your email address.</p>
    </div>

    <!-- Resend Verification Email -->
    <div class="formGroup">
      <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
        Resend Verification Email
      </button>
    </div>

    <!-- Redirect to login   -->
    <div class="redirectToLogin">
      <span>Go back?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
    </div>

  </div>

  <!-- Bottom Navbar Component -->
  <app-navbar-bottom></app-navbar-bottom>

</body>










