html{
  height: 100%;
  min-height: 100vh;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* Verify Email Text Box*/
.verify-email {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.verify-email{
  text-align: center;
}

.form-group{
  padding: 5px;
}

/* Button Hover Color */
.btn:hover{
  color: #0071BC;
}

