<!-- Nav Bar Bottom Component -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">

  <!-- Logo and Name -->
  <a class="navbar-brand">
    <img src="../../../../assets/Untitled-1.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Providers.fyi
  </a>

  <!-- Navbar Items -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <!-- Navbar Links -->
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/home">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" *ngIf="!authService.userData as user" routerLink="/sign-up">Sign Up</a>
      <a class="nav-item nav-link" routerLink="/dashboard">Dashboard</a>
    </div>

  </div>

</nav>
