<!-- Nav Bar Bottom Component -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">

  <!-- NavBar Bottom Logo and Name  -->
  <a class="navbar-brand" href="dashboard">
    <img src="../../../../assets/Untitled-1.png" width="28" height="28" class="d-inline-block align-top" alt="">
    Providers.fyi
  </a>

  <!-- Navbar Items -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <!-- Navbar Links -->
    <div class="navbar-nav">

      <!-- Always Shown -->
      <a class="nav-item nav-link active" href="home">Home<span class="sr-only">(current)</span></a>

      <!-- Only Shows if not signed in -->
      <a class="nav-item nav-link" *ngIf="!authService.userData as user" href="sign-up">Sign Up</a>
      <a class="nav-item nav-link" *ngIf="!authService.userData as user" href="sign-in">Sign In</a>

      <!-- Only Shows if signed in -->
      <a class="nav-item nav-link" *ngIf="authService.userData as user" href="dashboard">Dashboard</a>
      <a class="nav-link"*ngIf="authService.userData as user" (click)="authService.SignOut()">Sign out</a>

    </div>

  </div>

</nav>
