/* Navbar Color*/
.bg-dark{
  background:#2b2d2f !important;
}

/* Navbar Name Text Color*/
.navbar-brand{
  color: #f4f4f4;
  padding: 10px;
}

/* Justify Items to the End*/
.navbar-collapse{ justify-content: flex-end;}

/* Navbar Height */
nav{
  height: 4vh;
}

/* Navbar Link Colors */
.navbar-light .navbar-nav .nav-link {
  color: #f4f4f4;
}

.navbar-brand{
  color: white;
  transition: color 230ms ease-in-out;
}

/* App Name Hover */
.navbar-brand:hover{
  color: #0071BC;
}

a{
  transition: color 230ms ease-in-out;
}

a:hover{
  color: #0071BC !important;
}
