.bg-dark{
  background:#2b2d2f !important;
}

.navbar-brand{
  color: #f4f4f4;
  padding: 10px;
}

/* Justify Items to the End*/
.navbar-collapse{ justify-content: flex-end;}

/* Navbar Link Colors */
.navbar-light .navbar-nav .nav-link {
  color: #f4f4f4;
}
