/*Typekit*/
html,body{

  font-family: proxima-nova, "Helvetica Neue", sans-serif;
  font-style: normal;

}

/*Redirect Hover*/
.redirectToLogin .redirect{
  color: black;
  transition: color 230ms ease-in-out;
}

.redirectToLogin .redirect:hover{
  color: #0071BC;
}

.redirectToSignUp .redirect{
  color: black;
  transition: color 230ms ease-in-out;
}

.redirectToSignUp .redirect:hover{
  color: #0071BC;
}

.forgotPassword{
  color: black;
  transition: color 230ms ease-in-out;
}

.forgotPassword:hover{
  color: #0071BC;
}
