<body>

  <!-- Page Container-->
  <div class="container">

    <!-- Message Board Header  -->
    <h1>Message Board</h1>

    <!-- Horizontal Rule  -->
    <hr>

    <!-- Message Board Div  -->
    <div class = "message-board">

      <!-- Message Board Div For Scroll Function  -->
      <div #messageBoard style="overflow: scroll; height: 600px;">

        <!-- Display Message  -->
        <div class="display-messages">
          <!--      <p>Loading...</p>-->
          <!-- List -->
          <ul class="text" *ngFor = "let message of messages | async">

            <!-- List For Loop -->
            <li class = "messages shadow p-3 mb-5 bg-white rounded">

              <!-- Date -->
              {{ message.date.toDate() |  date:' EEE MM/dd - h:mm a' }}
              <br>

              <!-- Nickname -->
              From: {{ message["displayName"] }}
              <br>

              <!-- Message -->
              {{ message["message"] }}
              <br>

            </li>

          </ul>

        </div>

      </div>

    </div>

    <!-- Message Reply  -->
    <form class="form-message shadow p-3 mb-5 bg-white rounded">

      <!--  Icon -->
      <img class="mb-4" src="../../../assets/Untitled-1.png" alt="" width="72" height="72">

      <!-- Top Label -->
      <h1 class="h3 mb-3 font-weight-normal">MESSAGE</h1>

      <!-- User Message  -->
      <label for="inputUserMessage" class="sr-only">Email address</label>
      <textarea id="inputUserMessage" type="userMessage" [formControl]="message"  class="form-control" placeholder="Type message here.." #message required minlength="4"></textarea>

      <!-- Send Message Button  -->
      <button type="button" class="btn btn-lg btn-primary btn-block shadow-none" (click)="authService.saveMessage(message.value); message.form.reset();">POST</button>

    </form>

    <!-- Bottom Navbar Component -->
    <app-navbar-bottom></app-navbar-bottom>

  </div>

</body>
